@{
    ViewData["Title"] = "Home Page";
}

    <div class="container">
        <h3> Урок 2</h3>

        <div class="alert alert-primary mt-3 mb-2" id="btn" role="alert">
            Введите число больше 10
        </div>

        <form>
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <input type="email" class="form-control" id="inpe" value="a@a.com" required>
                    <div class="valid-feedback">
                        Выглядит отлично!
                    </div>
                    <div class="invalid-feedback">
                       Проверьте число.
                    </div>
                </div>
            </div>
        </form>

                <button type="button" class="btn btn-secondary mt-1" onclick="btnclick();">Успех</button>
            </div>

    <script>
    function validateEmail(email) {
    var re = /^(([^<>()\[\]\\.,;:\s@@"]+(\.[^<>()\[\]\\.,;:\s@@"]+)*)|(".+"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    return re.test(String(email).toLowerCase());
}


        function btnclick() {
            var inpe = document.getElementById("inpe");

            inpe.classList.remove("is-valid");
            inpe.classList.remove("is-invalid");

            if (validateEmail(inpe.value)) {
                
            }
            else {
                inpe.classList.add("is-invalid");
            }

            $.post("/Home/Reg", { email: inpe.value }, function (data) {
                inpe.classList.add("is-valid");
            });


        }</script>
